body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #a5ddb6;
}
.container{
    width:290px;
    height: 510px;
   background-color: rgb(25, 42, 57);
   display: flex;
   flex-direction: column;
  align-items: center;
  border-radius: 8px;

}
.display{
    width: 100%;
    height: 180px;
    background-color: #144338;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 4px;
}
.maindisplay{
    width: 97.5%;
    height:110px;
    margin-top: 20px;
    background-color: #688e85;
    text-align: right;
    font-size: 25px;
   
    
}
.button{
    width:60px;
    height: 60px;
    border-radius: 8px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(31, 78, 110);
    border:none;
}
.button:hover{
    background-color: aqua;
}
.button.button:active{
    background-color: rgb(17, 109, 87);
}
.equals{
    background-color: orange;
}
.header{
    padding-left: 8px;
    padding-top: 6px;
    font-size: 25px;
}