:root{
--white: #fffbfb;
--grey: #f0eef1;
--black: #050505;
--red: #ff7070;
--light-green: #9fff9c;
--light-red: #ff9c9c;
--border-radius: 8px;
--spacing-xs: 5px;
--spacing-sm: 10px;
--spacing-md: 15px;
--spacing-lg: 20px;
--spacing-xl: 40px;
--container-width: 1200px;
--shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body{
    min-height:100vh;
    width: 100%;
    margin: 0px;
    background-color:  rgb(38, 38, 38);
    color: white;
}
.header{
   display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 25px;
   font-size: 35px;
   font-weight: 800;
   align-items: center;
}
.login{
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color:  rgb(28, 28, 28);
    color: white;
}
.login:hover{
    background-color: rgb(7, 88, 88);
}
.addBookBtn:hover{
    background-color: rgb(7, 88, 88);
}

.addBookBtn{
    margin-top: 20px;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color:  rgb(38, 38, 38);
    color: white;
    font-weight: 800px;
    
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom:0;
    width:100%;

   
}
p{
    font-size: 20px;
    font-weight: 400px;
    margin:10px;
   
}

/*modal*/
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    background-color: rgb(45, 43, 43);
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
  }
  
  .add-book-form button {
    width: 100%;
  }
  
  .error-msg {
    display: none;
    color: red;
  }
  
  .error-msg.active {
    display: block;
    margin-top: -15px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
  }
  
  .is-read {
    display: flex;
    gap: var(--spacing-md);
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    accent-color: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay.active {
    display: block;
  }
  .btn-light-green {
    background-color: rgb(119, 217, 119);
  }
  .btn-light-red {
    background-color: rgb(235, 86, 86);
  }
  .container {
    margin-top: var(--spacing-lg);
    text-align: center;
  }
  .books-grid {
    margin-left: 15px;
    margin-right:15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
  
   color: #050505;
  }
  .book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--white);
    box-shadow: var(--shadow);
    line-height: 1.2;
    color: #ffffff;
    background-color: #1c1b1b;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }
  .add-book-form button {
    width: 100%;
  }
  .btn{
    border: none;
    border-radius: 8px;
    padding:5px;
    font-weight: bold ;
  }