html{
    background-color: darkcyan;
}
.container{
    background-color: dodgerblue;
    border: 4pxpx;
    width: 400px;
    height: 300px;
    align-self: center;
    justify-self: center;
    display: flex;
}
.box{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 246, 246);
    width: 80px;
    height: 80px;
   text-align: center;
   border: 6px solid maroon;
   font-weight: bold;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*
  .box{
    display: flex;
    align-self: center;
    justify-self: center;
  }
  */